
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top border-success">
  <a class="navbar-brand" style="font-size: 20px;color:white" href="#">Project Manager</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">

        <a class="nav-link" style="font-size: 16px;color:white" routerLink="user">Add User</a>

      </li>

      <li class="nav-item">

        <a class="nav-link" style="font-size: 16px;color:white" routerLink="project">Add Project</a>

      </li>

      <li class="nav-item">

        <a class="nav-link" style="font-size: 16px;color:white" routerLink="task">Add Task</a>

      </li>

      <li class="nav-item">

        <a class="nav-link" style="font-size: 16px;color:white" routerLink="viewtask">View Task</a>

      </li>

    </ul>

  </div>

</nav>
